{#  ATICA - Web application for supporting Quality Management Systems
    Copyright (C) 2009-2013: Luis-Ramón López López

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see [http://www.gnu.org/licenses/]. #}

{% extends "layout.html.twig" %}
            
{% block maincontent %}
                    <h1>Actividades{% if detail %}: {{ detail }}{% endif %}</h1>
                    
                    {% if activities %}
                    <table class="table table-striped table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>Calendario</th>
                                <th>Actividad</th>
                                <th>Documentos</th>
                                <th>Entrega</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for activity in activities %}
                            <tr>
                                <td class="center">{{ activity.period_description }}</td>
                                <td>{{ activity.display_name }}</td>
                                <td></td>
                                <td></td>
                                <td class="center"><span class="icon-edit"> <span class="icon-remove"></span></td>
                            </tr>                            
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
{% endblock %}