{% if buttons %}
<form class="form-inline" role="form">
    {% if info['upload_permission'] %} <a class="btn btn-info" href="{{ urlFor('upload', { 'id': folder.id }) }}">Subir nuevo documento</a>{% endif %}
</form>
{% endif %}