{% if buttons %}
<form class="form-inline" role="form">
    {% if info['upload_permission'] %} <a class="btn btn-info" href="{{ urlFor('upload', { 'id': folder.id }) }}">Subir nuevo documento</a>{% endif %}
    {% if info['manage_permission'] or user['is_admin'] %} <a class="btn btn-warning" href="{{  urlFor('managefolder', { 'id': folder.id })  }}">Gestionar carpeta</a>{% endif %}
</form>
{% endif %}